.siswru-ii-change-card {
  width: 100%;
  border: solid;
  border-color: #dcdcdc;
  padding: 10px;
  border-width: 1px;
  display: flex;
  gap: 15px;
}
.siswru-ii-change-card-old {
  width: 100%;
  border: solid;
  border-color: red;
  padding: 10px;
  border-width: 1px;
  display: flex;
  gap: 15px;
}
.siswru-ii-add-remove {
  display: flex;
  flex-direction: column;
  gap: 5px;
  button {
    margin: 0;
  }
}
.siswru-ii-main {
  width: 100%;
}
.sisru-ii-main-head {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  .siswru-ii-main-selects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
  }
  .siswru-ii-main-text-area {
    position: relative;
    flex: 1;
    height: 160px;
    padding-bottom: 20px;
    .aw-widgets-propertyRichTextEditValue {
      min-height: 160px;
      max-height: 160px;
    }
  }
}
.siswru-ii-side-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.siswru-ii-save-icon {
  position: absolute;
  left: -30px;
  top: 0px;
  width: 16px;
  padding-bottom: 50px;
  padding-left: 10px;
}
.siswru-ii-button-title {
  cursor: pointer;
  padding-right: 10px;
}
.siswru-ii-button-title:hover {
  background-color: #cde6eb;
}
